 body{
background-image:url(https://image.shutterstock.com/image-vector/jungle-zoo-themed-animal-
background-450w-1018271374.jpg);
background-repeat:no-repeat;
background-size:cover;
}
table{
margin:auto;background:yellow;
}
