<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Language</title>
    <link href="{% static '/css/MyFile.css' %}" rel="stylesheet">
</head>
<body>
<h1>STUDENTS LIST IS...!!</h1>
{% if slist %}
<table border="1px">
    <thead>
    <th>STDID</th>
    <th>STDNAME</th>
    <th>STDMARKS</th>
    <th>STDRESULT</th>
    </thead>
    {% for std in slist %}
    <tr>
        <td>{{std.StdId}}</td>
        <td>{{std.StdName}}</td>
        <td>{{std.StdMarks}}</td>
        <td>{{std.StdAdd}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Sorry No Records Found..!!</h2>
{% endif %}
</body>
</html>